/* line 2, ../scss/main.scss */
html {
  height: 100%;
  @font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    font-style: normal;
    font-weight: normal;
    src: local("HelveticaNeueLTStd-Roman"), url(fonts/HelveticaNeueLTStd-Roman.otf);
}

}
/* line 11, ../scss/main.scss */
html body {
  min-height: 100%;
  background: -webkit-linear-gradient(right, #b30064, #333333) !important;
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #b30064, #333333) !important;
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #b30064, #333333) !important;
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(right, #b30064, #333333) !important;
                        /* Standard syntax (must be last) 
// background: #a32068; /* Old browsers */
}
/* line 26, ../scss/main.scss */
html body .btn-oldstyle {
  background-color: #b30064;
  border-color: #b30064;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #9f0059;
  background-image: -moz-linear-gradient(top, #b30064, #800048);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b30064), to(#800048));
  background-image: -webkit-linear-gradient(top, #b30064, #800048);
  background-image: -o-linear-gradient(top, #b30064, #800048);
  background-image: linear-gradient(to bottom, #b30064, #800048);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb30064', endColorstr='#ff7f0047', GradientType=0);
  border-color: #800048 #800048 #34001d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/* line 43, ../scss/main.scss */
html body .btn-oldstyle:hover,
html body .btn-oldstyle:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
/* line 52, ../scss/main.scss */
html body .btn-oldstyle:hover,
html body .btn-oldstyle:focus {
  color: #fff;
  background-color: #800048;
}
/* line 58, ../scss/main.scss */
html body .btn-oldstyle:active,
html body .btn-oldstyle.active,
html body .btn-oldstyle.active:hover {
  background-color: #9a0056;
  border-color: #800048;
}
/* line 69, ../scss/main.scss */
html body .btn-oldstyle.disabled:hover,
html body .btn-oldstyle.disabled:focus,
html body .btn-oldstyle.disabled:active,
html body .btn-oldstyle.disabled.active,
html body .btn-oldstyle[disabled] .btn-oldstyle:hover,
html body .btn-oldstyle[disabled] .btn-oldstyle:focus,
html body .btn-oldstyle[disabled] .btn-oldstyle:active,
html body .btn-oldstyle[disabled] .btn-oldstyle.active {
  background-color: #b30064;
  border-color: #b30064;
}
/* line 126, ../scss/main.scss */
html body fieldset[disabled] .btn-custom:hover,
html body fieldset[disabled] .btn-custom:focus,
html body fieldset[disabled] .btn-custom:active,
html body fieldset[disabled] .btn-custom.active {
  background-color: #722D7B;
  color: white;
}
/* line 155, ../scss/main.scss */
html body .container.login {
  color: white;
  width: 45%;
  padding-top: 6em;
}
/* line 156, ../scss/main.scss */
html body .container.login h4 {
  margin-top: 1.3em;
}
/* line 159, ../scss/main.scss */
html body .container.login input, html body .container.login button {
  z-index: 5;
  -webkit-box-shadow: 8px 8px 16px 0px rgba(40, 40, 40, 0.75);
  -moz-box-shadow: 8px 8px 16px 0px rgba(40, 40, 40, 0.75);
  box-shadow: 8px 8px 16px 0px rgba(40, 40, 40, 0.75);
}
@media only screen and (max-width: 480px) {
  /* line 155, ../scss/main.scss */
  html body .container.login {
    padding-top: 1.5em;
    width: 80%;
  }
}
/* line 174, ../scss/main.scss */
html body .container.login .row .row:nth-child(1) {
  padding-bottom: 0em;
}
/* line 178, ../scss/main.scss */
html body .container.login .form-group {
  margin-top: 2em;
}
/* line 179, ../scss/main.scss */
html body .container.login .form-group :nth-child(2) {
  margin-top: 2em;
}
/* line 185, ../scss/main.scss */
html body .panel {
  margin-top: 5em;
  opacity: .3;
  height: 100px;
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  z-index: 5;
}
/* line 195, ../scss/main.scss */
html body .ng-pristine {
  border-color: none;
}
/* line 198, ../scss/main.scss */
html body .ng-invalid.ng-dirty {
  border-color: #FA787E;
}
/* line 201, ../scss/main.scss */
html body .ng-valid.ng-dirty {
  border-color: #78FA89;
}
