<!DOCTYPE html>
<html lang="en" ng-app="sharedboard" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SharedBoard App</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SharedBoard</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
               
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle userBar" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i>Diego Vargas<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-key"></i>Contraseña</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="blog_1.html"><i class="fa fa-fw fa-user"></i>Perfil</a>
                    </li>
                    <li class="active">
                        <a href="foro.html"><i class="fa fa-fw  fa-comments"></i>Foros</a>
                    </li>
                    <li>
                        <a href="documentacion.html"><i class="fa fa-fw  fa-file-pdf-o "></i>Documentación</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw  fa-wrench"></i>Configuración<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="conf_foro.html">Foro</a>
                            </li>
                            <li>
                                <a href="conf_foro.html">Usuario</a>
                            </li>
                            <li >
                                <a href="conf_foro.html">Administración del sistema</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">

                <div class="col-sm-12">
                        <button type="button" class="btn btn-success"><i class="fa fa-fw fa-search"></i>Buscar Foro</button>
                        <button type="button" class="btn btn-success"><i class="fa fa-fw fa-plus"></i>Nuevo foro</button>
                        <button type="button" class="btn btn-success"><i class="fa fa-fw fa-pencil"></i>Editar foro</button>
                        <button type="button" class="btn btn-success"><i class="fa fa-fw fa-plus"></i>Nuevo tema</button>
                        <button type="button" class="btn btn-success"><i class="fa fa-fw fa-group"></i>Integrantes</button>
                        <hr>
                </div>


                    <div class="col-sm-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Mis foros</h3>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item active">Desarrollo y Diseño Web <i class="fa fa-fw fa-graduation-cap "></i></a>
                                <a href="#" class="list-group-item">Desarrollo de Software</a>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Temas</h3>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item active">Variables</a>
                                <a href="#" class="list-group-item">Diseño responsivo</a>
                                <a href="#" class="list-group-item">MySql</a>
                                <a href="#" class="list-group-item">AngularJs</a>
                            </div>
                        </div>
                        
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Integrantes</h3>
                            </div>
                            <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Rol</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Alvaro Cordero</td>
                                        <td>Profesor</td>
                                    </tr>
                                    <tr>
                                        <td>Diego Vargas</td>
                                        <td>Asistente</td>
                                    </tr>
                                    <tr>
                                        <td>David Fallas</td>
                                        <td>Estudiante</td>
                                    </tr>
                                    <tr>
                                        <td>Hector Murillo</td>
                                        <td>Estudiante</td>
                                    </tr>
                                    <tr>
                                        <td>Jackeline Roman</td>
                                        <td>Estudiante</td>
                                    </tr>
                                    <tr>
                                        <td>Adrian Obregon</td>
                                        <td>Estudiante</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>


                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-fw fa-info"></i>Información de foro</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form">

                                    <div class="form-group">
                                        <label>Carrera</label>
                                        <input class="form-control"  placeholder="Eje: Desarrollo de Software" type="text">
                                    </div>

                                    <div class="form-group">
                                        <label>Periodo</label>
                                        <input class="form-control" placeholder="Eje: Primer periodo" type="text">
                                    </div>

                                    <div class="form-group">
                                        <label>Año</label>
                                        <input class="form-control" placeholder="Eje: 2014" type="text">
                                    </div>

                                    <div class="form-group">
                                        <label>Curso</label>
                                        <input class="form-control" placeholder="Eje: Proyecto I" type="text">
                                    </div>

                                    <div class="form-group">    
                                        <label>Tema</label>
                                        <input class="form-control" placeholder="Casos de uso" type="text">
                                    </div>

                                    <button type="submit" class="btn btn-success">Buscar</button>
                                </form>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">Resultado 1</a>
                                <a href="#" class="list-group-item">Resultado 2</a>
                                <a href="#" class="list-group-item">Resultado 3</a>
                                <a href="#" class="list-group-item">Resultado 4</a>
                                <a href="#" class="list-group-item">Resultado 5</a>
                            </div>
                        </div>

                        <div class="panel panel-success" ng-controller="foroMakerCtrl">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-fw fa-plus"></i>Crear foro</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form" ng-submit="createNewForo()">
                                        
                                            <div class="form-group">
                                                <label>Carrera</label>
                                                <select class="form-control" ng-model="newForo.major">
                                                    <option selected >Desarrollo y diseño web</option>
                                                    <option>Desarrollo de software</option>
                                                    <option>Redes</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Curso</label>
                                                <select class="form-control"  ng-model="newForo.subject">
                                                    <option selected >Proyecto 1</option>
                                                    <option>Bases de datos</option>
                                                    <option>Programación 1</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Periodo</label>
                                                <select class="form-control"  ng-model="newForo.period">
                                                    <option selected >Primer Cuatrimestre</option>
                                                    <option>Segundo Cuatrimestre</option>
                                                    <option>Tercer Cuatrimestre</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Profesor</label>
                                                <select class="form-control"  ng-model="newForo.professor">
                                                    <option selected >Alvaro Cordero</option>
                                                    <option>Alonso Guevara</option>
                                                    <option>Pablo Monestel</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Fecha de cierre:</label>
                                                <input  class="form-control" type="date"  ng-model="newForo.closeDate" required/>
                                            </div>

                                            <div class="form-group">
                                                <label>Hora de cierre</label>
                                                <input  class="form-control" type="time" ng-model="newForo.closeHour" required/>
                                            </div>
                                            <label>Miembros</label>

                                            <div class="form-group input-group">
                                                <input type="text" class="form-control">
                                                <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-fw fa-search"></i></button></span>
                                            </div>

                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="form-group">
                                                    
                                                        <label>Diego Vargas</label><i class="fa fa-fw fa-times pull-right"></i>
                                                        <select class="form-control"  ng-model="newForo.period">
                                                            <option selected ><i class="fa fa-fw fa-user"></i>Estudiante</option>
                                                            <option><i class="fa fa-fw fa-male"></i>Asistente</option>
                                                            <option><i class="fa fa-fw fa-child"></i>Invitado</option>
                                                        </select>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="form-group">
                                                    
                                                        <label>Diego Vargas</label><i class="fa fa-fw fa-times pull-right"></i>
                                                        <select class="form-control"  ng-model="newForo.period">
                                                            <option selected ><i class="fa fa-fw fa-user"></i>Estudiante</option>
                                                            <option><i class="fa fa-fw fa-male"></i>Asistente</option>
                                                            <option><i class="fa fa-fw fa-child"></i>Invitado</option>
                                                        </select>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="form-group">
                                                    
                                                        <label>Diego Vargas</label><i class="fa fa-fw fa-times pull-right"></i>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"><i class="fa fa-fw fa-user"></i>Estudiante
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"><i class="fa fa-fw fa-male"></i>Asistente
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"><i class="fa fa-fw fa-child"></i>Invitado
                                                            </label>
                                                        </div>
                                                    </div>  
                                                </li>
                                            </ul>
                                            <div class="form-group">
                                                <label>Usuarios visibles</label>
                                                <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" ng-model="visibility" value="true" checked>Si
                                                </label>
                                                <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" ng-model="visibility" value="false">No
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-sm btn-success">Crear nuevo foro</button>
                                            <button type="submit" class="btn btn-sm btn-success">Guardar cambios</button>
                                    </form>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">Resultado 1</a>
                                <a href="#" class="list-group-item">Resultado 2</a>
                                <a href="#" class="list-group-item">Resultado 3</a>
                                <a href="#" class="list-group-item">Resultado 4</a>
                                <a href="#" class="list-group-item">Resultado 5</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-8">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Foro</h3>
                            </div>
                            <div class="panel-body">

                                <form role="form">


                                    <div class="form-group">
                                        <input class="form-control" placeholder="Título">
                                    </div>

                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Texto" rows="3"></textarea>
                                    </div>

                                    <button type="submit" class="btn btn-success"><i class="fa fa-fw fa-pencil"></i>Publicar</button>

                                </form>
                                <hr>
                                
                                <!-- Foro Post -->

                                <!-- Title -->
                                <h1>Título del la publicación</h1>
                                    <i class="fa fa-fw fa-times pull-right"></i>
                                    <i class="fa fa-fw fa-warning pull-right"></i>
                                    <i class="fa fa-fw fa-pencil pull-right"></i>

                                <!-- Author -->
                                <p class="lead">
                                    por <a href="#">Diego Vargas</a>
                                </p>

                                <hr>

                                <!-- Date/Time -->
                                <p><span class="glyphicon glyphicon-time"></span> Publicado en Agosto 28, 2014 hora 10:00 PM</p>

                                <hr>

                                <!-- Post Content -->
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

                                <hr>

                                <!-- Foro Comments -->

                                <h2>Comentarios</h2>

                                <!-- Posted Comments -->

                                <!-- Comment -->
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="img-circle media-object" src="http://placehold.it/64x64" alt="">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Jackeline Román
                                            <small>Agosto 28, 2014 hora 9:30 PM<i class="fa fa-fw fa-times pull-right"></i><i class="fa fa-fw fa-warning pull-right"></i></small>
                                        </h4>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras .</p>
                                    </div>
                                </div>

                                <!-- Comment -->
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="img-circle media-object" src="http://placehold.it/64x64" alt="">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Jackeline Román
                                            <small>Agosto 28, 2014 hora 9:30 PM<i class="fa fa-fw fa-times pull-right"></i><i class="fa fa-fw fa-warning pull-right"></i></small>
                                        </h4>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                    </div>
                                </div>

                                <!-- Comment -->
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="img-circle media-object" src="http://placehold.it/64x64" alt="">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Jackeline Román
                                            <small>Agosto 28, 2014 hora 9:30 PM<i class="fa fa-fw fa-times pull-right"></i><i class="fa fa-fw fa-warning pull-right"></i></small>
                                        </h4>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                    </div>
                                </div>

                                <!-- Comment -->
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="img-circle media-object" src="http://placehold.it/64x64" alt="">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Jackeline Román
                                            <small>Agosto 28, 2014 hora 9:30 PM<i class="fa fa-fw fa-times pull-right"></i><i class="fa fa-fw fa-warning pull-right"></i></small>
                                        </h4>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                    </div>
                                </div>



                              

                                <hr>

                                <!-- Comments Form -->
                                <div class="well">
                                    <h4>Escriba su comentario:</h4>
                                    <form role="form">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-success">Publicar</button>
                                    </form>
                                </div>
                                

                                </div>


                            </div>
                        </div>
                </div>
                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

        <!-- Page Footer -->

        <nav class="navbar navbar-inverse navbar-fixed-bottom " role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand text-center" href="index.html">SharedBoard</a>
            </div>
            
            
            
        </nav>


    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

    <!-- Angular -->
    <script src="js/angular.min.js"></script>

    <!-- Logica -->
    <script src="js/app.js"></script> 

</body>

</html>
