<!DOCTYPE html>
<html lang="en" ng-app="login">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SharedBoard App</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="css/sb-admin.css" rel="stylesheet"> -->

    <!-- Morris Charts CSS -->
    <!-- <link href="css/plugins/morris.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="LoginController">
<div class="container login" >
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <img class="login-img cenfotec-logo" src="img/logo-cenfotec-white-80.png">
                </div>
                <div class="col-sm-5">
                    <h4 class="text-left login-title">Inicie sesión para ingresar a ShareBoard</h4>         
                </div>
            </div>
            <div class="row">
                <div ng-model="loginFormController" class="col-sm-9 col-sm-offset-1">
                    <form ng-submit="checkUser(user)" name="loginForm" role='form'class="css-form"><!-- novalidate class="css-form" -->
                        <div class="form-group input-group-md">
                            <input ng-minlength="4" name="uEmail" ng-model="user.username" type="username" class="form-control" ng-model="login.email" placeholder="Correo electrónico" required autofocus>
                            <input ng-minlength="6" name="uPassword" ng-model="user.password"type="password" class="form-control" ng-model="login.password" placeholder="Contraseña" required>
                            <a href="#" class="pull-right need-help">Olvido su Contraseña</a>
                        </div>
                        <div class="form-group input-group-md">
                            <span class="clearfix"></span>
                            <button class="btn btn-lg btn-block btn-oldstyle" ng-click="loginPage(login)" type="button" >
                                Entrar
                            </button>                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- jQuery Version 1.11.0 -->
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/login.js"></script> 
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
<!--     // <script src="js/plugins/morris/raphael.min.js"></script>
    // <script src="js/plugins/morris/morris.min.js"></script>
    // <script src="js/plugins/morris/morris-data.js"></script> -->

</body>

</html>
